* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
    margin: 0;
}

:root {
    --bg-dark: #030303;
    --dark-red: #710707;
    --font-gold: #9d8665;
    --font1: 80px;
    --font2: 32px;
    --font3: 28px;
    --font4: 22px;
    --font5: 18px;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Mediumt.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}


@font-face {
    font-family: Forum;
    src: url("assets/fonts/Forum-Regular.ttf");
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
    font-family: Roboto;
}

.section {
    padding: 75px 0;
    margin: 0 auto;
}

.dark-section {
    background-color: #030303;
}

.header {
    background: #000;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-bottom: 62px;
    background-color: var(--bg-dark);
    padding: 60px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.logo-wrapper {
    display: flex;
}

.logo {
    background-image: url("assets/svg/logo.svg");
    height: 26px;
    width: 49px;
}

.logo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(180deg);
}

.header-title {
    font-family: Forum;
    letter-spacing: 5px;
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 25px;
}

.nav {
    font-family: Roboto;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: 2px;
}

a {
    color: #fff !important;
    text-decoration: none;
}

.nav-list {
    display: flex;
}


.nav-list li {
    list-style-type: none;
    padding-right: 55px;
    line-height: 26px;
}

.nav-list li:last-child {
    padding-right: 0;
}

.nav-tickets {
    padding-left: 5px;
}


.welcome {
    padding: 0 0 59px 0;
}

/* ЧЕРНАЯ ТЕНЬ WELCOME */
/* .welcome::before {
    content: "";
    background: linear-gradient(to right, black 0%, transparent 100%);
    position: absolute;
    height: 800px;
    width: 900px;
    left: 397px;
    z-index: 3;
} */


.welcome__container {
    display: flex;
    position: relative;
    z-index: 1;
    max-width: 1440px;
    margin: 0 auto;
}

.welcome__text {
    padding-top: 149px;
    white-space: nowrap;
    /* pointer-events: none; */
    z-index: 2;
}

.title {
    font-family: Forum;
    font-weight: 400;
    font-size: var(--font1);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.welcome__subtitle {
    font-size: var(--font3);
    color: #fff;
    font-weight: 300;
    padding: 25px 0 100px 0;
    letter-spacing: 2px;
}

.welcome__button {
    font-family: Roboto;
    font-size: var(--font4);
    font-weight: 300;
    color: #fff;
    padding: 24px 66px;
    background-color: var(--dark-red);
    border: none;
    border-radius: 10px;
    letter-spacing: 2px;
}











/*  Слайдер */

.welcome__slider {
    position: relative;
    margin: 0;
    padding: 0;
    width: 842px;
    z-index: -1;
    right: 158px;
    color: #fff;
    height: 750px;
}


.slide-1 {
    background-image: linear-gradient(to right, black 0%, transparent 60%), url(./assets/img/welcome-slider/1.jpg);
}

.slide-2 {
    background-image: linear-gradient(to right, black 0%, transparent 60%), url(./assets/img/welcome-slider/2.jpg);
}

.slide-3 {
    background-image: linear-gradient(to right, black 0%, transparent 60%), url(./assets/img/welcome-slider/3.jpg);
}

.slide-4 {
    background-image: linear-gradient(to right, black 0%, transparent 60%), url(./assets/img/welcome-slider/4.jpg);
}

.slide-5 {
    background-image: linear-gradient(to right, black 0%, transparent 60%), url(./assets/img/welcome-slider/5.jpg);
}

.slide {
    width: 1000px;
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    transition: all 1.2s ease-in-out;
}

.slide.active {
    display: flex;
}

.welcome__pagination {
    display: flex;
    position: relative;
    left: 400px;
    bottom: 61px;
    background-color: #000;
    padding: 47px 74px 29px 74px;
    width: fit-content;
}

.counter {
    display: flex;
    font-size: 22px;
}

.squares {
    display: flex;
    padding: 5px 29px 0 55px;
}

.square {
    width: 16px;
    height: 16px;
    background-color: #fff;
    margin-right: 25px;
}

.square.active {
    background-color: #D2B183;
}

.btn {
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    font-size: 31px;
    bottom: 9px;
    position: relative;
}


/* VISITING BLOCK */

.visiting__container {
    max-width: 1440px;
    margin: 0 auto;
}

.visiting__title {
    color: var(--font-gold);
    position: relative;
    padding-bottom: 107px;
}

.visiting__title::after {
    content: "";
    position: absolute;
    top: 117px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--dark-red);
}

.cards {
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    gap: 74px 60px;
}

.card__title {
    font-family: Forum;
    color: #000;
    font-size: var(--font2);
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 22px 0;
    position: relative;
}

.card__title::after {
    content: "";
    position: absolute;
    top: 67px;
    left: 0;
    width: 68%;
    height: 3px;
    background-color: var(--dark-red);
}


.card__subtitle,
.card__subsubtitle {
    color: #000;
    font-weight: 200;

}

.card__subtitle {
    font-size: var(--font4);
    padding-bottom: 8px;
}

.card__subsubtitle {
    font-size: var(--font5);
}

/* EXPLORE BLOCK */

.section.explore {
    padding-bottom: 90px;
}

.explore__container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.explore__text {
    color: #fff;
    padding-right: 64px;
}

.explore__title {
    position: relative;
    padding-bottom: 104.5px;
}

.explore__title::after {
    content: "";
    position: absolute;
    top: 113px;
    left: 0;
    width: 100, 5%;
    height: 3px;
    background-color: var(--dark-red);
}

.explore__paragraph {
    font-size: var(--font4);
    font-weight: 300;
    line-height: 37.5px;
}

.explore__paragraph_two {
    padding: 28px 0;
}

.explore__text_span {
    color: var(--font-gold);
}

/* ДО-ПОСЛЕ СЛАЙДЕР */

.img-comp-container {
    position: relative;
    height: 700px;
    /*should be the same height as the images*/
    padding-top: 14px;
}

.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

.img-comp-img img {
    display: block;
    vertical-align: middle;

}

.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    border: 4px solid white;
}

.img-comp-slider::before {
    content: "";
    position: absolute;
    top: -332px;
    left: 14px;
    width: 4px;
    height: 328px;
    background-color: #fff;
}

.img-comp-slider::after {
    content: "";
    position: absolute;
    top: 36px;
    left: 14px;
    width: 4px;
    height: 331px;
    background-color: #fff;
}


/* VIDEO BLOCK */

.video__container {
    max-width: 1440px;
    margin: 0 auto;
}

.video__text {
    display: flex;
    align-items: center;
    padding-bottom: 75px;
}

.video__title {
    color: var(--font-gold);
    white-space: nowrap;
    padding-right: 115px;
}

.video__subtitle {
    font-weight: 300;
    font-size: var(--font4);
    line-height: 39px;
}

.player__button,
.player__slider,
.player__play-circle {
    border: 0;
    background-color: transparent;
    color: #fff;
}

.player__button:focus,
.player__slider:focus {
    outline: none;
}

.player__button {
    line-height: 1.6;
}

.player {
    min-width: 750px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    font-size: 0;
    overflow: hidden;
    border: none;
    height: 735px;
}

.player__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    width: 100%;
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2147483647;
    height: 85px;
}

.controls-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player__element:not(:last-child) {
    margin-right: 37px;
}

.progress {
    flex: 10;
    position: relative;
    display: flex;
    height: 10px;
    transition: height 0.3s;
    background: rgba(0, 0, 0, 0.5);
    cursor: ew-resize;
    top: 38px;
    background-color: #fff;
}

.player__play-circle_icon::after {
    content: "";
    background-image: url(./assets/img/pause.png);
    position: absolute;
    top: 216px;
    color: white;
    right: 613px;
    width: 220px;
    height: 220px;
}

.player__play-circle_icon--paused::after {
    display: none;
}

.player__play-icon::after {
    font-family: "FontAwesome";
    font-style: normal;
    content: "\f04b";
    font-size: 30px;
}

.player__play-icon--paused::after {
    font-family: "FontAwesome";
    content: "\f04c";
}

.player__volume {
    position: relative;
    top: 31px;
    left: 9px;
}

.player__volume_icon {
    font-style: normal;
    font-size: 40px;
}

.player__volume_icon::after {
    font-family: "FontAwesome";
    content: "\f028";
    position: absolute;
    bottom: 0px;
    color: white;
}

.player__controls {
    padding: 0 25px;
}

.fullscreen {
    font-size: 50px;
}

.volume {
    height: 7px;
    width: 155px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    border: none;
    background-color: var(--dark-red);
    margin-left: 88px;
}

.volume:focus {
    outline: none;
}


.volume::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    margin-top: -3px;
    color: #fff;
}

.volume::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #fff;
    border-radius: 50px;
    /* box-shadow: -80px 0 0 80px var(--dark-red); */
}

.progress {
    height: 7px;
    width: 155px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    border: none;
    background-color: var(--dark-red);
}

.progress::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    margin-top: -3px;
    color: #fff;
}

.progress::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #fff;
    border-radius: 50px;
    /* box-shadow: -80px 0 0 80px var(--dark-red); */
}

.player__slides {
    display: flex;
    padding: 40px 0 28px 0;
    column-gap: 42px;
}

.player__slider_pagination {
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: 20px;
}

.dot {
    width: 12px;
    height: 12px;
    background: #999999;
    border-radius: 50%;
}

.dot.active {
    background: #333333;
}

.player__slider_button {
    border: none;
    background: transparent;
    font-size: 20px;
    width: 12px;
    color: #999999;
    padding: 0;
}


/* GALLERY BLOCK */

.gallery {
    padding: 75px 0 0 0;
}

.gallery__title {
    padding-bottom: 75px;
}

.gallery__container {
    max-width: 1440px;
    margin: 0 auto;

}

.gallery__picture {
    /* max-width: 1440px; */
    height: 1960px;
    overflow: hidden;
    position: relative;
}

/* .gallery__picture_container {
    height: 1884px;
    column-count: 3;
    gap: 24px 36px;
    position: relative;
} */

.gallery__picture_container {
    display: flex;
    height: 2970px;
    flex-flow: column wrap;
    align-content: space-between;
    /* position: relative; */
}

.gallery__image {
    width: 32%;
    margin-bottom: 2%;
}

/*  Перегруппировываем элементы в 3 ряда */
.gallery__image:nth-child(3n+1) {
    order: 1;
}

.gallery__image:nth-child(3n+2) {
    order: 2;
}

.gallery__image:nth-child(3n) {
    order: 3;
}

/* Новые колонки разделители */
.gallery__picture_container::before,
.gallery__picture_container::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}


.gallery__image:nth-child(1),
.gallery__image:nth-child(3) {
    padding-top: 50px;
}

.gallery__picture::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    content: "";
    position: absolute;
    width: 100%;
    height: 650px;
    right: 0px;
    bottom: 0px
}


/* TICKETS BLOCK */

.tickets__container {
    max-width: 1440px;
    margin: 0 auto;
}

.tickets__title {
    color: var(--font-gold);
    position: relative;
    padding-bottom: 102px;
}

.tickets__title::after {
    content: "";
    position: absolute;
    top: 113px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--dark-red);
}

.tickets__main {
    display: flex;
}

.ticket__image {
    padding-right: 60px;
}

.ticket__type_title {
    font-size: 28px;
    padding-bottom: 37px;
}

.ticket__form {
    font-size: 22px;
    line-height: 52px;
}

.ticket__form input {
    margin: 0 17px 0 0;
    width: 17px;
    height: 17px;
    color: #000;
    
}

/* .ticket__form>input:nth-of-type(2) {
    margin: 32px 26px 30px 0;
} */

.tickets__input_container {
    display: flex;
}

input[type='radio'],
label {
  cursor: pointer;
}

input[type='radio'] {
  position: relative;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type='radio']::before {
  content: '';
  position: absolute;
  top: 67%;
  left: 50%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #000;
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 66%;
  left: 50%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.tickets__input_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input__basic,
.input__senior {
    font-size: 22px;
    font-weight: 300;
}

input[type='number'] {
    -webkit-appearance: none;
    width: 150px;
    height: 50px;
    border: solid 1px black;
    border-left: none;
    border-right: none;
}

.input__minus {
    border: solid 1px black;
    height: 50px;
    border-right: none;
    background: transparent;
    font-size: 25px;
}